*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  position: relative;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 133px 30px 133px 30px;
  width: 100%;
}

.result {
  position: relative;
  height: 456px;
  margin-top: 78px;
}

.preloader {
  position: relative;
}

.result__video-container {
  width: 100%;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: FiraSansCondensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 260px;
  height: 210px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 190px;
  object-fit: cover;
  object-position: right;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: FiraSanaCondensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 15px;
  cursor: pointer;
}

.search-form__textfield {
  display: block;
  width: 255px;
  border: none;
  font-size: 18px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(
    .search-form__checkbox:focus-visible
  ).search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  font-family: FiraSansCondensed, sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgb(42, 40, 40);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}
